<section id="subscribe_section" class="subscribe section">
  
    <br><br><br>

    <div class="contenedorFormularioRegistro">
        <div class="contenidoFormulario">
            <h1 class="tituloRegistro">Regístrate</h1>
        </div>
        <div class="linea">
            <hr class="hr">
        </div>


        <div class="formularioRegistro">
            <form id="formulario" (ngSubmit)="saveRegister()" [formGroup]="formRegister" class="formulario_registro"
            method="POST" autocomplete="off">
           
            

            <input type="text" placeholder="Nombres y Apellidos" formControlName="name" class="inputFormularioRegistro" name="name"
                id="name" required>
            <small
                *ngIf="formRegister.controls['name'].errors?.['required'] && formRegister.controls['name'].touched"
                class="p-error block" style="color: red;">Ingresa tu nombre</small>
            

            <input type="email" formControlName="email" placeholder="Correo Electronico" class="inputFormularioRegistro" name="email"
                id="email" required>
            <small
                *ngIf="formRegister.controls['email'].errors?.['required'] && formRegister.controls['email'].touched"
                class="p-error block" style="color: red;">Ingresa tu Email</small>
            
     
  
            <label style="margin-left: 5px; color: #787f8a;">
                 Imagen de perfil
            </label>
            <input  type="file" class="inputFormularioRegistro" name="avatar" (change)="onFileSelected($event)"
                id="avatar" accept="image/png, image/gif, image/jpeg"  required>
            





            <input type="text" formControlName="phone" placeholder="Numero Telefono" class="inputFormularioRegistro" name="phone"
                id="phone" maxlength="10" required>
            <small
                *ngIf="formRegister.controls['phone'].errors?.['required'] && formRegister.controls['phone'].touched"
                class="p-error block" style="color: red;">Ingresa tu telefono</small>
            

            <input type="text" formControlName="nationality" placeholder="Nacionalidad" class="inputFormularioRegistro" name="nationality"
                id="nationality" required>
            <small
                *ngIf="formRegister.controls['nationality'].errors?.['required'] && formRegister.controls['nationality'].touched"
                class="p-error block" style="color: red;">Ingresa tu nacionalidad</small>
            


            
            <select type="text" formControlName="gender" class="subscribe__input" name="gender"
                id="gender"  required style="border: none; font-size: 16px; margin-left: -5px;">
                <option [ngValue]="null" [disabled]="true">Selecciona tu genero</option>
                <option *ngFor="let gender of genders" [value]="gender.value" >{{ gender.label }}</option>
            </select>
            
            <small
                *ngIf="formRegister.controls['gender'].errors?.['required'] && formRegister.controls['gender'].touched"
                class="p-error block" style="color: red;">Ingresa tu genero</small>
                <hr style="border-bottom: 1px solid #11414B; width: 100%;">
            

            <input type="password" formControlName="password" name="password" placeholder="Digita una contraseña"
                class="inputFormularioRegistro" required>
            <small
                *ngIf="formRegister.controls['password'].errors?.['required'] && formRegister.controls['password'].touched"
                class="p-error block" style="color: red;">Ingresa una contraseña</small>
            
            <br>


            <div class="container-button-enviar">
                <button class="button" type="submit">Registrarme</button>
            </div>
        </form>
        
        </div>
        <div class="logearme">
            <a [routerLink]="['/login']" class="linklogin" style="text-decoration: none; font-size: 15px; color: #11414B; margin-top: -10px;">Ya tengo una cuenta</a>
        </div>
        
    </div>
<br><br><br>
    
</section>