<section class="discover section" id="discover">
   <h2 class="section__title" style="font-size: 35px; margin-bottom: -30px;">Conoce Lo Más <br> Valorado</h2>
<!--
    <div class="discover__container container swiper-container">
        
        
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let category of categories">
                <div class="slide" (click)="updateCategory(category)">
                    <button class="category-button"
                        style="width: auto; margin: 0 auto; display: flex; align-items: center; justify-content: center; margin-top: 30px;">
                        <h1 style="color: white;">{{ category.name }}</h1>
                        
                    </button>
                    <br>
                </div>
            </ng-template>
        </owl-carousel-o>


    </div> -->
    

</section>


<app-showsites *ngIf="category != null" [category]="category"></app-showsites>
<app-show-sites-category *ngIf="category == null" />