


<div class="contenedorCreditos" style="margin-top: 200px; margin-bottom: 100px;">
    <h1 class="tituloCreditos" style="font-size: 35px; margin-top: 20px;">Free Meturist</h1>
    
    <div class="descripcionProyecto">
        <p>Se desarrolló con la finalidad de ser presentado como proyecto de grado para la carrera de Ingeniería Informática 2023, proceso que involucro a Brayan Garzón como líder y developer, Brayan Clavijo como developer colaborador, bajo el riguroso seguimiento y asesoramiento de los Ingenieros Nestor Suat y Omar.
        En donde, en conjunto con la implementación de la metodología SCRUM y la elección de librerías, Frameworks y lenguajes de programación, se desarrolló y desplegó un prototipo web, el cual es orientado al sector del turismo para el Departamento del Meta
        </p>
    </div>
    <div class="imagenAUNAR">
        <a href="https://aunarvillavicencio.edu.co/" target="_blank">
            <img src="../../../assets/img/Logo-Pequeno.png" alt="">
        </a>
        
    </div>
    <h2 class="subtitulosCreditos">Frameworks y lenguajes</h2>
    <div class="contenedorFrameworks">
        <div class="frameworks"><h2>Front-End</h2></div>

        <div class="frameworks">
            <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank" style="display: flex; justify-content: center; align-items: center;">
                <img title="Html" src="../../../assets/img/html-5 (1).png" alt="">
            </a>
            
        </div>

        <div class="frameworks">
            <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank" style="display: flex; justify-content: center; align-items: center;">
                <img title="CSS" src="../../../assets/img/css-3.png" alt="">
            </a>
            
        </div>

        <div class="frameworks">
            <a href="https://www.typescriptlang.org/" target="_blank" style="display: flex; justify-content: center; align-items: center;">
                <img title="Typescript" src="../../../assets/img/zyro-image.png" alt="">
            </a>
            
        </div>

        <div class="frameworks">
            <a href="https://getbootstrap.com/" target="_blank" style="display: flex; justify-content: center; align-items: center;">
                <img title="Booststrap" src="../../../assets/img/bootstrap5.jpeg" alt="">
            </a>
            
        </div>

        <div class="frameworks">
            <a href="https://angular.io/" target="_blank" style="display: flex; justify-content: center; align-items: center;">
                <img title="Angular" src="../../../assets/img/Angular_full_color_logo.svg.png" alt="Angular">
            </a>
            
        </div>

    </div>
    <div class="contenedorFrameworksBack">
        <div class="frameworksBack"><h2>Back-End</h2></div>
        <div class="frameworksBack">
            <a href="https://www.djangoproject.com/" target="_blank" style="display: flex; justify-content: center; align-items: center;">
                <img title="Django" src="../../../assets/img/Django.png" alt="">
            </a>
        </div>

        <div class="frameworksBack">
            <a href="https://www.docker.com/" target="_blank" style="display: flex; justify-content: center; align-items: center;">
                <img title="Docker" src="../../../assets/img/docker-icon.png" alt="">
            </a>
            
        </div>

        <div class="frameworksBack">
            <a href="https://dokku.com/" target="_blank" style="display: flex; justify-content: center; align-items: center;">
                <img title="Dokku" src="../../../assets/img/dokku-2.webp" alt="">
            </a>
            
        </div>

        <div class="frameworksBack">
            <a href="https://try.digitalocean.com/developerbrand/?utm_campaign=amer_brand_kw_en_cpc&utm_adgroup=digitalocean_exact_exact&_keyword=digitalocean&_device=c&_adposition=&utm_content=conversion&utm_medium=cpc&utm_source=google&gad=1&gclid=Cj0KCQjwib2mBhDWARIsAPZUn_kK-sd0_U4xj1DXZekUUm6acOWdGFfTM1QkOd_-figf18uAKf6lmqsaAnwvEALw_wcB" target="_blank" style="display: flex; justify-content: center; align-items: center;">
                <img title="Digital Ocean" src="../../../assets/img/1200px-DigitalOcean_logo.svg.png" alt="">
            </a>
            
        </div>
        
        <div class="frameworksBack">
            <a href="https://www.postgresql.org/" target="_blank" style="display: flex; justify-content: center; align-items: center;">
                <img title="postgreSQL" src="../../../assets/img/postgresql-logo.png" alt="">
            </a>
            
        </div>

    </div>
    <h2 class="subtitulosCreditos">Desarrolladores y mentores</h2>
    <div class="equipo">

        <div class="imagenEquipoDesarrolladores">
            <img src="../../../assets/img/Personal.png" alt="">
            <div class="textoEncimaImagen">
                Postulante <br>
                Brayan Garzón <br> 
                Full Stack Developer
                <a href="https://github.com/BrayanGarzon" style="cursor: pointer;" target="_blank">gitHub</a>
            </div>
        </div>
        <div class="imagenEquipoDesarrolladores">
            <img src="../../../assets/img/Clavijo.png" alt="">
            <div class="textoEncimaImagen">
                Colaborador <br>
                Brayan clavijo <br>
                Full Stack Developer
                <a href="https://github.com/clavijo99" style="cursor: pointer;" target="_blank">gitHub</a>
            </div>
        </div>

        <div class="imagenEquipoMentores">
            <img src="../../../assets/img/avatar.png" alt="">
            <div class="textoEncimaImagen">
                Mentor <br>
                Ing. Nestor Suat
            </div>
        </div>
        <div class="imagenEquipoMentores">
            <img src="../../../assets/img/avatar.png" alt="">
            <div class="textoEncimaImagen">
                Mentor <br>
                Ing. Omar
            </div>
        </div>
        
    </div>
    

</div>
