<section id="subscribe_section" class="subscribe section">
<!--
    <div class="subscribe__bg">
        <div class="subscribe__container container">
            <h2 class="section__title subscribe__title">Actualiza tu perfil aqui!</h2>

            <form id="formulario" (ngSubmit)="saveRegister()" [formGroup]="formRegister" class="subscribe__form"
                method="POST">

                <input type="text" placeholder="Nombres" formControlName="name" [(ngModel)]="user.name" class="subscribe__input" name="name"
                    id="name" required>
                <small
                    *ngIf="formRegister.controls['name'].errors?.['required'] && formRegister.controls['name'].touched"
                    class="p-error block" style="color: red;">name is required.</small>
                <hr class="hr">

                <input type="email" formControlName="email" placeholder="Correo" [(ngModel)]="user.email" class="subscribe__input" name="email"
                    id="email" required>
                <small
                    *ngIf="formRegister.controls['email'].errors?.['required'] && formRegister.controls['email'].touched"
                    class="p-error block" style="color: red;">email is required.</small>
                <hr class="hr">

                <input type="password" formControlName="password" name="password" placeholder="password"
                    class="subscribe__input" required>
                <small
                    *ngIf="formRegister.controls['password'].errors?.['required'] && formRegister.controls['password'].touched"
                    class="p-error block" style="color: red;">password is required.</small>
                <hr class="hr">
                <br>


                <div class="container-button-enviar">
                    <button class="button" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
-->

    
    <!--NEW FORM FOR THE UPDATEUSER-->
    <br><br><br>
    <div class="contenedorUpdateuser">
        <h1 class="tituloUpdateuser">Actualiza tu perfil aqui!</h1>
        <div class="contenidoUpdateuser">
            
            <form id="formulario" (ngSubmit)="saveRegister()" [formGroup]="formRegister" class="formUpdateUser"
                method="POST" enctype="multipart/form-data">

                <label style="margin-left: 5px; color: #787f8a;">
                    Imagen de perfil
               </label>
               <input  type="file" class="inputFormularioRegistro"  name="avatar" id="avatar" (change)="onFileSelected($event)" accept="image/png, image/gif, image/jpeg"  required>

                <input type="text" placeholder="Nombres" formControlName="name" [(ngModel)]="user.name" class="updateaUser__input" name="name"
                    id="name" required>
                <small
                    *ngIf="formRegister.controls['name'].errors?.['required'] && formRegister.controls['name'].touched"
                    class="p-error block" style="color: red;">Es necesario que ingreses tu nombre</small>
                

                <input type="email" formControlName="email" placeholder="Correo" [(ngModel)]="user.email" class="updateaUser__input" name="email"
                    id="email" required>
                <small
                    *ngIf="formRegister.controls['email'].errors?.['required'] && formRegister.controls['email'].touched"
                    class="p-error block" style="color: red;">Es necesario que ingreses el correo</small>

                <input type="text" formControlName="phone" placeholder="Numero Telefonico" class="inputFormularioRegistro" name="phone"
                    id="phone" maxlength="10" required>
                <small
                    *ngIf="formRegister.controls['phone'].errors?.['required'] && formRegister.controls['phone'].touched"
                    class="p-error block" style="color: red;">Ingresa tu telefono</small>
                

                <input type="password" formControlName="password" name="password" placeholder="Contraseña"
                    class="updateaUser__input" required>
                <small
                    *ngIf="formRegister.controls['password'].errors?.['required'] && formRegister.controls['password'].touched"
                    class="p-error block" style="color: red;">Es necesario que ingreses una contraseña</small>
                
                <br>


                <div class="botonUpdateuser">
                    <button class="button" type="submit">Actualziar</button>
                </div>
            </form>
        </div>
    </div>

    <br><br><br>

</section>