<footer class="footer_section" style="margin-top: 80px;">
    <div class="footer__container container grid">
        <div class="footer__content grid"  style="margin-top: 30px;">
            <div class="footer__data">
                <h3 class="footer__title" style = "color: white;">Free-Tourims</h3>
                <p class="footer__description" style = "color: white; text-align: justify;">
                    El mejor lugar en donde puedes<br> elegir el destino adecuado para <br> disfrutar tus vacaciones.
                </p>
            </div>



            <div class="footer__data">
                <h3 class="footer__subtitle" style = "color: white;">Desarrolladores</h3>
                <ul>
                    <li class="footer__item">
                        <a href="https://github.com/BrayanGarzon" class="footer__link" target="_blank" style = "color: white;">Team <span
                                class="span" style="font-family: cursive;">DevDynasty</span></a>
                    </li>
                    <li class="footer__item">
                        
                        <p>Redes Sociales</p>
                    </li>

                </ul>
                <div class="footer-social-developers">
                    <a href="https://github.com/BrayanGarzon" target="_blank" class="footer__social">
                        <i class="ri-github-fill"></i>
                    </a>
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                        <i class="ri-facebook-circle-fill"></i>
                    </a>

                    <a href="https://www.youtube.com/" target="_blank" class="footer__social">
                        <i class="ri-mail-add-fill"></i>
                    </a>
                </div>
            </div>

            <div class="footer__data">
                <h3 class="footer__subtitle" style = "color: white;">Soporte</h3>
                <ul>
                    <li class="footer__item">
                        <a href="https://github.com/BrayanGarzon" class="footer__link" style = "color: white;" target="_blank">Digital</a>
                    </li>
                    
                    <li class="footer__item">
                        <a [routerLink]="['/contact']" class="footer__link" style = "color: white;">Contactanos</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__rights">
            <p class="footer__copy" style = "color: white;">&#169; 2021 <span class="span">Bedimcode</span> And 2023 <span
                    class="span">Code-Fenix.</span> All rigths reserved.</p>
            <div class="footer__terms">
                <a href="#" class="footer__terms-link" style = "color: white;">Terms & Agreements</a>
                <a href="#" class="footer__terms-link" style = "color: white;">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>